{% extends 'base.html' %}

<!--- Inicio sección-->
{% block 'about' %}

<section id="Nosotros" class="container-fluid text-center bg-light my-5">
  <hr>
  <h2 class="display-3 my-4">Nosotros</h1>
    <p class="my-4">
      OnlyFlans es una empresa enfocada en el mundo de la
      pastelería y los postres, en especial en la venta de flan(de ahí
      su nombre), nace en 2021 en santiago de chile como una
      empresa familiar que pretende entregar productos de calidad
      a su clientela, estando ubicada en providencia, a pasos del
      metro Parque Bustamante.
    </p>
    <hr>
</section>
{% endblock %}
<!-- Fin seccion -->
