{% extends 'base.html' %}

<!--- Inicio sección-->
{% block 'about' %}

<section id="Nosotros" class="container text-center bg-light my-5">
  <hr>
  <h2 class="display-3 my-4">Nosotros</h1>
    <h6 class="my-4">
      OnlyFlans es una empresa innovadora y apasionada que se sumerge en el vibrante universo de la pastelería y los postres. Fundada en 2021 en Santiago de Chile, nace del amor y la tradición familiar por los sabores dulces y reconfortantes que solo un buen flan puede ofrecer. Ubicada estratégicamente en el corazón de Providencia, a solo pasos del emblemático metro Parque Bustamante, nuestra empresa se ha comprometido desde sus inicios a deleitar a nuestros clientes con productos de la más alta calidad y un servicio excepcional.

      Nuestra misión va más allá de simplemente ofrecer flanes exquisitos; nos esforzamos por crear experiencias culinarias memorables que deleiten los sentidos y alimenten el alma. Cada flan que sale de nuestra cocina es el resultado de meticulosos procesos artesanales y la cuidadosa selección de ingredientes frescos y naturales. Desde los clásicos flanes de vainilla y caramelo hasta nuestras irresistibles creaciones gourmet, cada bocado es una explosión de sabor y textura que cautiva incluso a los paladares más exigentes.
    </h6>
  <hr>
  <div class="conteiner mt-5">
    <h4>Te invitamos a ver nuestro reportaje hecho por Canal 13</h4>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F8qBvQg7VOQ?si=_5t5PMyOetgWA6eA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>  
</section>
{% endblock %}
<!-- Fin seccion -->
