{% extends 'base.html' %}

{% block 'bienvenida' %}
<div class="text-center mt-5">
  <h1>Bienvenido, {{ nombre_usuario }}</h1>
    <h3>¡Gracias por iniciar sesión en nuestro sitio!</p>
      <h4>¡Estos son los postres de la casa hechos especialmente para ti!</h4>
</div>
{% endblock %}
    <!--- Inicio sección-->
    {% block 'Welcome' %}
    <section id="Bienvenido" class="container-fluid text-center my-5 bg-light">
        <br>
        <hr>

        <section class="container bg-light">
            <div class="row">
              <!-- primera carta -->
              {% for flan in flanes_priv %}
              <div class="col-sm-4 col-12 px-5 mb-4">
                <div class="card">
                  <img src="{{ flan.image_url}}" class="card-img-top" alt="" />
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{flan.name}}</h5>
                    <p class="card-text">{{flan.description}}</p>
                    <p class="card-text fw-bold">Precio: ${{ flan.price }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
        <hr>
    </section>
    {% endblock %}
    <!-- Fin seccion -->
