{% extends 'base.html' %}

    <!--- Inicio sección-->
    {% block 'Welcome' %}
    <section id="Bienvenido" class="container-fluid text-center my-5 bg-light">
        <hr>
        <h1 class="display-3 my-4">Bienvenido</h1>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <form>
                        <div class="form-group text-black fw-bold mb-3">
                            <label class="mb-2">Nombre</label>
                            <input class="form-control">
                        </div>

                        <div class="form-group mb-4 text-black fw-bold">
                            <label class="mb-2">Correo electrónico</label>
                            <input class="form-control">
                        </div>
                    </form>
                </div>
                <div class="col mt-4 mx-3">
                    <p> Al registrarte, accederás a beneficios exclusivos diseñados para ti. Desde ofertas especiales y
                        descuentos
                        personalizados hasta acceso anticipado a nuevos productos, nuestro registro te brinda acceso
                        privilegiado a
                        todo lo que necesitas para mejorar tu experiencia de compra.</p>
                </div>
            </div>
        </div>

        <section class="container bg-light">
            <div class="row">
              <!-- primera carta -->
              {% for flan in flanes_priv %}
              <div class="col-sm-4 col-12 px-5 mb-4">
                <div class="card">
                  <img src="{{ flan.image_url}}" class="card-img-top" alt="" />
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{flan.name}}</h5>
                    <p class="card-text">{{flan.description}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
        <hr>
    </section>
    {% endblock %}
    <!-- Fin seccion -->
